.main {
    width: 1000px;
    max-width: 90vw;
    margin: 0 auto;
}

.main__header {
    font-size: 52px;
}

.main__buttons {
    padding: 20px;
}

.main__functionButton {
    color: teal;
    background: none;
    border: none;
    font-size: 18px;
    transition: color 0.3s ease-in;
}

.main__functionButton:hover {
    color: rgb(11, 155, 155);
    cursor: pointer;
}

.main__functionButton:disabled {
    color: #ccc
}


/* media queries for phones */

@media(max-width:700px) {
    .main__functionButton {
        margin-top: 20px;
        margin-left: 0;
    }
    .main__button {
        flex-grow: 1;
    }
}
